.country {
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.country img {
    max-width: 180px;
    width: 100%;
    margin: 10px 0;
}